@tailwind base;
@tailwind components;
@tailwind utilities;




.container {
    max-width: 1290px !important;
    margin: 0 auto;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif !important;
}
.padding {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

@media (min-width: 576px) {
    .padding {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

@media (min-width: 992px) {
    .padding {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
