.product-detail-main {
    margin: 3px 0;
}
.Breadcrumbs {
    background-color: #f4f4f4;
    padding: 10px 0;
    margin-bottom: 20px;
}
.menu {
    font-size: 14px;
    a {
        text-decoration: none;
        color: #666;
        &:hover {
            color: #070707;
        }
    }
}

.product-content {
    display: flex; /* Sử dụng Flexbox để canh các phần */
    gap: 50px; /* Khoảng cách giữa các phần */
}

// Slider
.imageMain {
    width: 55%;
    .featured-photo {
        margin: 0 auto;
        width: 100%;
        object-fit: cover;
        border: 1px solid #4f6f52;
        border-radius: 10px;
    }
    .secondary-slider {
        width: 40%;
        margin: 0 auto;
        .secondary-photo {
            width: 100px;
            height: 100px;
            margin: 0;
        }
        .slick-prev,
        .slick-next {
            display: none !important;
        }
    }
    // css cho slider
    .slick-slider {
        .slick-prev,
        .slick-next {
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background-color: #d8d8d8;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s;
        }
    }
}
// mô tả sản phẩm bên phải
.product-interactions {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    .product-rating {
        align-items: center;
        .rating-count {
            font-size: 13px;
        }
    }
    .product-sales {
        font-size: 15px;
    }
}
.product-pricing {
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #eeeeee;
}
.product-attributes {
    padding: 5px 0 10px 0;
    border-bottom: 1px solid #eeeeee;
}

@media (max-width: 1024px) {
    .product-content {
        flex-direction: column;
    }
    .imageMain {
        width: 95%;
        margin: 0 auto;
        .secondary-slider {
            width: 100%;
            margin-top: 10px;
        }
        .secondary-slider {
            width: 40%;
            margin: 0 auto;
            .secondary-photo {
                width: 100px;
                height: 100px;
                margin: 0;
            }
            .slick-prev,
            .slick-next {
                display: none !important;
            }
        }
    }
}
