.product-filter__container {
}
@media (min-width: 769px) {
    .product-filter__container {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
    }
}
